<h4 style="margin:3px 0 0; border-bottom: 1px solid #000000;">{{ app.user }}</h4>

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" style="background: none;">
  <div class="datos-personales">

    <p class="datos-p" style="float: none">Datos personales</p>
    <div id="agro-form-personales" style="width: 390px;">
      {{ form_errors(form) }}

      {{ form_widget(form._token) }}

      {{ form_errors(form.name) }}
      <label style="display: block">Nombre</label> {{ form_widget(form.name) }}

      {{ form_errors(form.surname) }}
      <label style="display: block">Apellido</label> {{ form_widget(form.surname) }}

      {{ form_errors(form.username) }}
      <label style="display: block">Usuario</label> {{ form_widget(form.username) }}

      {{ form_errors(form.email) }}    
      <label style="display: block">E-mail</label> {{ form_widget(form.email) }}

      {{ form_errors(form.plainPassword) }}
      <label style="display: block">Nuevo Password</label>{{ form_widget(form.plainPassword) }}

      {{ form_widget(form.country, {'attr' : {'style' : 'width:363px'} } ) }}<br />
      
      <p>{{ form_widget(form.receive_news, {'attr' : {'style' : 'width:15px'} } ) }} Recibir noticias en mi mail</p><br />

    </div>

    <div style="clear: both;"></div>
    <hr />

    <p class="datos-p" style="float: none">Datos complementarios</p>
    
    <div id="agro-form-complementario" style="width: 390px;">      
      {#<label>
        Ocupación 
        <?php echo $form['ocupation']->render(array('style' => 'width: 529px !important;')); ?>
      </label>

      <small>Ej. Ingeniero Agronomo</small>#}

      <label style="display: block">Tu descripción </label>
      {{ form_errors(form.description) }}    
      {{ form_widget(form.description, {'attr' : {'style' : 'resize: none; float: left; height: 50px; width: 539px; border: 1px solid #999999;', 'class' : 'copete'} } ) }}
      <small style="top:0px !important; display: block">Esta informacion se mostrara a los usuarios como tu referencia</small>

      <label style="display: block; margin-top:8px">Imagen de Perfil</label>
      {{ form_widget(form.file) }}

      <div class="clear"></div>

      {#<?php echo $form['view_mail']->render(array('style' => 'width: 15px;')); ?>
      <p style="margin-top:7px">Mostrar mi mail</p>
      #}
    </div>
    <input type="submit" value="Guardar" style="background: none repeat scroll 0 0 #258957; color:#FFF;" />
    
  </div>
</form>
