<h4 style="margin:3px 0 0; border-bottom: 1px solid #000000;">{{ app.user }}</h4>

<div class="datos-personales">
  
  <div id="agro-data-personales">
    <div class="datos-personales">
      <p class="datos-p">Datos personales&nbsp;<a href="{{ path('fos_user_profile_edit') }}">Editar</a></p>
      <p><span>Nombre:</span> {{ app.user.name }}</p>
      <p><span>Apelldo:</span> {{ app.user.surname }}</p>
      <p><span>Nickname:</span> {{ app.user.username }}</p>
      <p><span>E-mail:</span> {{ app.user.email }}</p>
      <!--<p><span>Contraseña:</span> ************</p>-->
    </div>
  </div>


</div>
